#main-section img{
    height: 550px;
    width: 450px;
}
#main-section{
    display: flex;
    justify-content: space-around;
}
.main-para {
    height: 550px;
    width: 450px;
}
.main-para p{
    font-size:x-large;
}